@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --AlmostWhite: hsl(0, 0%, 98%);
  --MediumGray: hsl(0, 0%, 41%);
  --AlmostBlack: hsl(0, 0%, 8%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
body {
  background-color: var(--AlmostWhite);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
.logo > img {
  margin-left: 3rem;
  padding-top: 1rem;
}
.nav {
  display: flex;
  gap: 2rem;
  padding-right: 26rem;
  color: var(--MediumGray);
}
li {
  list-style: none;
  color: var(--MediumGray);
}
li:hover {
  color: var(--AlmostBlack);
}

.nav a {
  color: var(--MediumGray);
}
.nav img {
  padding-bottom: 2px;
}
/* .nav li:hover .dropdown-1{
    display: block;
} */
.nav > li:hover .dropdown-1 {
  display: flex;
}
a {
  text-decoration: none;
  color: var(--MediumGray);
  margin-left: 10px;
}
a:hover {
  color: var(--AlmostBlack);
}
.dropdown-menu {
  /* display: none; */
  position: relative;
}
.dropdown-1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  display: none;
  line-height: 2rem;
  max-width: 160px;
  height: 160px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 9rem;
  padding: 15px 15px;
}
.dropdown-1 img {
  margin-right: 10px;
}

.dropdown-2 {
  position: absolute;
  left: 19rem;
  display: none;
  flex-direction: column;
  gap: 1rem;
  max-width: 110px;
  height: 100px;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 1.5rem;
}
.dropdown-2 > a {
  padding-top: 10px;
}
.btn-group > button {
  gap: 10px;
  padding: 7px 30px;
  border-radius: 10px;
  font-size: 14px;
  margin-right: 2rem;
  font-weight: 500;
  border: solid var(--MediumGray) 2px;
  background-color: transparent;
  color: var(--MediumGray);
}
.btn-group :nth-child(1) {
  padding: 0;
  border: transparent;
  background-color: transparent;
}
.menu{
  display: none;
}
.remote {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left {
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
}
.learn {
  max-width: max-content;
  margin-top: 1rem;
  padding: 10px 30px;
  color: var(--AlmostWhite);
  background-color: var(--AlmostBlack);
  border-radius: 10px;
  border: var(--AlmostBlack);
}

.right > img {
  height: 32rem;
  padding-right: 3rem;
  margin-top: 2rem;
}
h1 {
  font-size: 4rem;
  max-width: 420px;
}
p {
  font-size: 18px;
  color: var(--MediumGray);
  max-width: 450px;
}
.learn > button {
  font-size: 14px;
  max-width: 100px !important;
  font-weight: 500;
}
button:hover {
  background-color: transparent;
  color: var(--AlmostBlack);
  border: solid black 2px;
}
.hero{
  display: none;
}
.hero-img{
  display: none;
}
.images {
  display: flex;
  max-width: 700px;
  justify-content: space-evenly;
  margin-left: 4rem;
}
.images > img {
  width: 100px;
  height: 40px;
}
.box{
  display: none;
  /* background-color: #add; */
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}

/* ------------- Media Query for Mobile ----------------- */

@media (max-width: 480px) {
  .nav,.btn-group{
    display:none; 
  }
  .logo{
    position: relative;
    right: 1rem;
  }
  /* .remote{
    position: relative;
    z-index: -1;
  } */
  .menu{
    display: block;
    height: 60px;
    margin-right: 1rem;
  }
  .hero-img{
    display: block;
    position: relative;
    z-index: -10;
  }
  .hero-img img{
    display: block;
    height: 300px;
    width: 350px;
  }
  .right{
    margin-top: 1rem;
  }
  .right img{
    display: none;
  }
  .remote{
    display: flex;
    flex-direction: column-reverse;
    position:relative;
  }
  /* .left,.right{
    position: fixed !important;
    top: 22rem;
  } */
  
  .left h1{
    font-size: 2rem;
    text-align: center;
  }
  .left p{
    max-width: 350px;
    font-size: 1rem;
    text-align: center;
  }
  .learn{
    margin-left: 7rem;
  }
  .images{
    display: flex;
    gap: 2rem;
    margin-top: -12rem;
  }
  .images img{
    height: 50px;
    width: 60px;
    position: relative;
    right: 2rem;
    top: 17rem;
  }
  .box{
    padding-left: 1.5rem;
    margin-left: 4.7rem;
    position: relative;
    bottom: 5rem;
    z-index: 11;
    display: none;
     height: 90vh;
    width: 80%;
    background-color:#ffff;
  }
  .box .close{
    display: flex;
    justify-self: end;
    padding: 1rem 1rem;
  }
  .box li{
    line-height: 2rem;
  }
  .box a{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    line-height: 2rem;
  }
  .btn-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
  }
  .btn-div >button{
  padding: 7px 40px;
  border-radius: 10px;
  font-size: 14px;
  max-width: max-content;
  
  font-weight: 500;
  border: solid var(--MediumGray) 2px;
  background-color: transparent;
  color: var(--MediumGray);
}
.btn-div :nth-child(1) {
  padding: 0;
  border: transparent;
  background-color: transparent;
}
.mob-div, .mob-div-2{
  display: none;
}
.mob-div a{
  display: flex;
  flex-direction: row;
}
.mob-div img{
  margin-right: 1rem;
  height: 22px;
  width: 22px;
  padding-top: 0.5rem;
}

}
